# --- Temporales de Visual Studio y editores ---
.vs/
.vsconfig
.vscode/
.idea/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# --- Compilados y Binarios ---
Binaries/*
Build/*
Intermediate/*
DerivedDataCache/*

# --- Archivos generados por el Editor ---
Saved/*
FileOpenOrder/
*.log

# --- Librerías y ejecutables ---
*.exe
*.obj
*.pdb
*.lib
*.app
*.ipa
*.so
*.dylib
*.dll

# --- Assets de Mapas ---
SourceArt/

# --- Otros ---
.DS_Store