# Temporales de Visual Studio y editores
.vs/
.vsconfig
.vscode/
.idea/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# Compilados y Binarios
Binaries/*
Plugins/**/Binaries/*
Build/*
Intermediate/*
Plugins/**/Intermediate/*
DerivedDataCache/*
Plugins/**/DerivedDataCache/*

# Archivos generados por el Editor
Saved/*
Plugins/**/Saved/*
FileOpenOrder/
*.log

# Librerías y ejecutables
*.dll
*.exe
*.obj
*.pdb
*.lib
*.app
*.ipa
*.so
*.dylib

# Assets precompilados o temporales de mapas
*_BuiltData.uasset
SourceArt/